<html>
    <head>
        <title>location-api</title>
    </head>
    <body>
        <h1 align='center'  >Welcome to Location API</h1>
            <h4>Help</h4>
            <li>For single location of pincode:<a href="#" id="link1">/1/122001</a></li>
            <li>For  all locations of pincode:<a href="#" id="link2">/0/122001</a></li>
            <li>To download the latest file:</li>
    </body>
    <script src="/js/jquery-3.4.1.min.js"  type="text/javascript"></script>
    <script src="/js/app.js"  type="text/javascript"></script>
</html>
